<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Yo</title>
</head>
<body>
<ul>
    {%  for user in users %}
    <li>
    <a href="{{ path('user_show', {'user': user.id}) }}">
        {{ user.firstname }} {{ user.lastname }}
    </a>
    </li>
    {%  endfor %}
</ul>
</body>
</html>
